@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* default font fallbacks — use variables below */
  --font-reenie-beanie: "Reenie Beanie", cursive;
  --font-vt323: "VT323", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* use variables here — fallback to system fonts */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vt323), ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Segoe UI Mono", monospace;
}
